The goal of this exercise is to get into some first contact with Python, Pandas data frames, and the many opportunities how to quickly generate static charts from data frames. For the first exercise, load the provided CSV file, do some data cleaning, and check if your cleaning operation was successful using visualization.

The main purpose of the notebook is to preprocess the CSV file for further visualization. The following steps have to be performed: 

1. Read the three CSV using Pandas. See the pandas.read_csv documentation to check how to parse the CSV correctly! Merge the two datasets player_data_per_36_min.csv and players.csv into one table. Add a team_name column to your new data frame based on the team_id column retrieving the name from the teams.csv dataset. You should now have a table that includes player info from players.csv, and players performance statistics from player_data_per_36_min.csv, and the team’s name from teams.csv. (3 points)
2. Take care of missing values. Sci-kit learn provides different data imputation methods. Remove unusable rows or columns, if necessary.  Delete all observations for players who do not have a current team.
(Hint: You may need to impute before you completely filter your dataframe. You need to make an educated judgment). (3 points)
3. Create two new tables: one that groups rows based on player_id, another that groups rows based on team_id. (2 points)
4. Visualize the data (twice). Every submitted notebook should contain at least two visualizations using at least two different Python visualization libraries. One visualization for each data set (players and teams). A list of the most wide-spread Python visualization libraries can be found in this article. You must concisely describe and explain each visualization and your decisions in a Markdown field. You will not receive the points for this task if you did not add a description/explanation. (max. 5 points per visualization)
5. Save the resulting tables (players data, and aggregated teams data) as CSV. To be sure that the data is correctly saved, you can load it again. You will have to work with these table for the second exercise. (2 points)

In [2]:
import pandas as pd
from sklearn.impute import SimpleImputer

In [3]:
players_df = pd.read_csv('data/players.csv')
teams = pd.read_csv('data/teams.csv')
player_data_df = pd.read_csv('data/player_data_per_36_min.csv')

In [4]:
merged_df = pd.merge(players_df, player_data_df, how='inner', left_on='id', right_on='player_id', suffixes=('_players', '_player_data'))

In [5]:
print(merged_df.head)

<bound method NDFrame.head of        id_players             name                full_name position height  \
0               1   Alaa Abdelnaby           Alaa Abdelnaby      F-C   6-10
1               1   Alaa Abdelnaby           Alaa Abdelnaby      F-C   6-10
2               1   Alaa Abdelnaby           Alaa Abdelnaby      F-C   6-10
3               1   Alaa Abdelnaby           Alaa Abdelnaby      F-C   6-10
4               1   Alaa Abdelnaby           Alaa Abdelnaby      F-C   6-10
...           ...              ...                      ...      ...    ...
26669        4814    Marial Shayok            Marial Shayok        G    6-5
26670        4817  Jeremiah Martin          Jeremiah Martin       PG    6-3
26671        4818   William Howard           William Howard        F    6-8
26672        4819     Gabe Vincent   Gabriel Nnamdi Vincent       PG    6-3
26673        4820   Marques Bolden   Marques Terrell Bolden        C   6-11

       weight       birth_date          birth_place  retired  \
0       240.0     June 24 1968         Cairo, Egypt     True
1       240.0     June 24 1968         Cairo, Egypt     True
2       240.0     June 24 1968         Cairo, Egypt     True
3       240.0     June 24 1968         Cairo, Egypt     True
4       240.0     June 24 1968         Cairo, Egypt     True
...       ...              ...                  ...      ...
26669   196.0     July 26 1995       Ottawa, Canada    False
26670   184.0  January 19 1996   Memphis, Tennessee    False
26671   205.0  October 25 1993   Montbrison, France    False
26672   200.0     June 14 1996  Modesto, California    False
26673   245.0    April 17 1998        Dallas, Texas    False

                      player_url  ...    ftp  orb   drb   trb  ast   stl  blk  \
0      /players/a/abdelal01.html  ...  0.568  3.4   7.7  11.0  1.5   0.5  1.5
1      /players/a/abdelal01.html  ...  0.752  3.1   6.9  10.0  1.2   1.0  0.6
2      /players/a/abdelal01.html  ...  0.759  3.5   5.8   9.3  0.7   0.7  0.7
3      /players/a/abdelal01.html  ...  0.750  2.7   5.7   8.4  2.3   1.4  0.9
4      /players/a/abdelal01.html  ...  0.760  3.6   5.8   9.4  0.5   0.6  0.7
...                          ...  ...    ...  ...   ...   ...  ...   ...  ...
26669  /players/s/shayoma01.html  ...    NaN  0.0  10.8  10.8  3.6   0.0  0.0
26670  /players/m/martije02.html  ...    NaN  0.0   3.3   3.3  3.3   3.3  0.0
26671  /players/h/howarwi01.html  ...    NaN  0.0   5.5   5.5  2.8   0.0  0.0
26672  /players/v/vincega01.html  ...    NaN  0.0   2.6   2.6  2.6   0.9  0.0
26673  /players/b/boldema01.html  ...    NaN  0.0  24.0  24.0  0.0  12.0  0.0

       tov    pf   pts
0      2.7   4.8  16.8
1      2.5   5.1  16.7
2      2.7   5.2  15.9
3      2.9   5.4  14.5
4      2.6   5.2  16.1
...    ...   ...   ...
26669  3.6   0.0  10.8
26670  0.0   0.0   6.5
26671  2.8   2.8   0.0
26672  0.0   1.8  10.5
26673  0.0  12.0   0.0

[26674 rows x 40 columns]>

In [6]:
print(merged_df.columns)

Index(['id_players', 'name', 'full_name', 'position', 'height', 'weight',
       'birth_date', 'birth_place', 'retired', 'player_url', 'current_team_id',
       'teams', 'text', 'id_player_data', 'player_id', 'season', 'total_games',
       'games_started', 'minutes_played', 'fg', 'fga', 'fgp', 'fg3', 'fg3a',
       'fg3p', 'fg2', 'fg2a', 'fg2p', 'ft', 'fta', 'ftp', 'orb', 'drb', 'trb',
       'ast', 'stl', 'blk', 'tov', 'pf', 'pts'],
      dtype='object')

In [7]:
merged_df = pd.merge(merged_df, teams, how='left', left_on='current_team_id', right_on='team_id')

In [9]:
print(merged_df.columns)

Index(['id_players', 'name', 'full_name', 'position', 'height', 'weight',
       'birth_date', 'birth_place', 'retired', 'player_url', 'current_team_id',
       'teams', 'text', 'id_player_data', 'player_id', 'season',
       'total_games_x', 'games_started', 'minutes_played', 'fg', 'fga', 'fgp',
       'fg3', 'fg3a', 'fg3p', 'fg2', 'fg2a', 'fg2p', 'ft', 'fta', 'ftp', 'orb',
       'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf', 'pts', 'team_id',
       'team_name', 'short_name', 'years', 'total_games_y', 'total_wins',
       'total_losses', 'win_loss_percentage', 'champions', 'other_names',
       'link', 'active'],
      dtype='object')

Task 2

In [10]:
imputer = SimpleImputer(strategy='mean')
merged_df[['games_started','minutes_played','fg','fga','fg3p','fg3','fg3a','fg2','fg2a', 'fg2p', 'ft','fta','orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf', 'pts']] = imputer.fit_transform(merged_df[['games_started','minutes_played','fg','fga','fg3p','fg3','fg3a','fg2','fg2a', 'fg2p', 'ft','fta','orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf', 'pts']])
merged_df = merged_df.dropna(subset=['current_team_id'])

In [11]:
print(merged_df)

       id_players             name                full_name position height  \
152            23     Steven Adams      Steven Funaki Adams        C   6-11
153            23     Steven Adams      Steven Funaki Adams        C   6-11
154            23     Steven Adams      Steven Funaki Adams        C   6-11
155            23     Steven Adams      Steven Funaki Adams        C   6-11
156            23     Steven Adams      Steven Funaki Adams        C   6-11
...           ...              ...                      ...      ...    ...
26669        4814    Marial Shayok            Marial Shayok        G    6-5
26670        4817  Jeremiah Martin          Jeremiah Martin       PG    6-3
26671        4818   William Howard           William Howard        F    6-8
26672        4819     Gabe Vincent   Gabriel Nnamdi Vincent       PG    6-3
26673        4820   Marques Bolden   Marques Terrell Bolden        C   6-11

       weight       birth_date           birth_place  retired  \
152     265.0     July 20 1993  Rotorua, New Zealand    False
153     265.0     July 20 1993  Rotorua, New Zealand    False
154     265.0     July 20 1993  Rotorua, New Zealand    False
155     265.0     July 20 1993  Rotorua, New Zealand    False
156     265.0     July 20 1993  Rotorua, New Zealand    False
...       ...              ...                   ...      ...
26669   196.0     July 26 1995        Ottawa, Canada    False
26670   184.0  January 19 1996    Memphis, Tennessee    False
26671   205.0  October 25 1993    Montbrison, France    False
26672   200.0     June 14 1996   Modesto, California    False
26673   245.0    April 17 1998         Dallas, Texas    False

                      player_url  ...  short_name years total_games_y  \
152    /players/a/adamsst01.html  ...         OKC  53.0        4271.0
153    /players/a/adamsst01.html  ...         OKC  53.0        4271.0
154    /players/a/adamsst01.html  ...         OKC  53.0        4271.0
155    /players/a/adamsst01.html  ...         OKC  53.0        4271.0
156    /players/a/adamsst01.html  ...         OKC  53.0        4271.0
...                          ...  ...         ...   ...           ...
26669  /players/s/shayoma01.html  ...         UTA  46.0        3696.0
26670  /players/m/martije02.html  ...         NJN  53.0        4276.0
26671  /players/h/howarwi01.html  ...         HOU  53.0        4271.0
26672  /players/v/vincega01.html  ...         MIA  32.0        2549.0
26673  /players/b/boldema01.html  ...         CLE  50.0        4024.0

       total_wins  total_losses win_loss_percentage  champions  \
152        2316.0        1955.0               0.542        1.0
153        2316.0        1955.0               0.542        1.0
154        2316.0        1955.0               0.542        1.0
155        2316.0        1955.0               0.542        1.0
156        2316.0        1955.0               0.542        1.0
...           ...           ...                 ...        ...
26669      2000.0        1696.0               0.541        0.0
26670      1849.0        2427.0               0.432        2.0
26671      2260.0        2011.0               0.529        2.0
26672      1329.0        1220.0               0.521        3.0
26673      1862.0        2162.0               0.463        1.0

                                             other_names         link  active
152     ['Oklahoma City Thunder', 'Seattle SuperSonics']  /teams/OKC/    True
153     ['Oklahoma City Thunder', 'Seattle SuperSonics']  /teams/OKC/    True
154     ['Oklahoma City Thunder', 'Seattle SuperSonics']  /teams/OKC/    True
155     ['Oklahoma City Thunder', 'Seattle SuperSonics']  /teams/OKC/    True
156     ['Oklahoma City Thunder', 'Seattle SuperSonics']  /teams/OKC/    True
...                                                  ...          ...     ...
26669                  ['Utah Jazz', 'New Orleans Jazz']  /teams/UTA/    True
26670  ['Brooklyn Nets', 'New Jersey Nets', 'New York...  /teams/NJN/    True
26671           ['Houston Rockets', 'San Diego Rockets']  /teams/HOU/    True
26672                                     ['Miami Heat']  /teams/MIA/    True
26673                            ['Cleveland Cavaliers']  /teams/CLE/    True

[2830 rows x 52 columns]